[submodule "st"]
	path = st
	url = https://github.com/dpulpeiro/st
[submodule "dwm"]
	path = dwm
	url = https://github.com/dpulpeiro/dwm
[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/dpulpeiro/dwmblocks
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/dpulpeiro/dmenu
[submodule "pamixer"]
	path = pamixer
	url = https://github.com/cdemoulins/pamixer
